@use "./Styles/Colors" as color;
@use "./Styles/Font" as font;
@use "./Styles/Navbar";
@use "./Styles/Footer";
@use "./Styles/Landing";
@use "./Styles/Contact.scss";
@use "./Styles/Presentation";
@use "./Styles/Projets";
@use "./Styles/Activite";
@use "./Styles/TestCarousel";
@use "./Styles/PreLoader";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
}

.App{
    position: relative;
}